<h3>View Character Stats</h3>
<div>
	<div>
		<label><b>Id:</b></label> {{character?.id}} <br>
		<label><b>Name:</b></label> {{character?.name}} <br>
		<label><b>Attacks Made:</b></label> {{stats?.atkOut}} <br>
		<label><b>Hits:</b></label> {{stats?.hitOut}} <br>
		<label><b>Misses:</b></label> {{stats?.missOut}} <br>
		<label><b>Damage Given:</b></label> {{stats?.dmgOut}} <br>
		<label><b>Accuracy:</b></label> {{stats?.hitPercent}} <br>
		<label><b>Targetted by Attacks:</b></label> {{stats?.atkIn}} <br>
		<label><b>Attacks Taken:</b></label> {{stats?.hitIn}} <br>
		<label><b>Attacks Avoided:</b></label> {{stats?.missIn}} <br>
		<label><b>Damage Taken:</b></label> {{stats?.dmgIn}} <br>
		<label><b>Dodge Percentage:</b></label> {{stats?.getMissedPercent}} <br>
	</div>
</div>
