

/* HTML TAG SELECTOR = '' */
body {
	background-color: blue;
}

/* CLASS SELECTORS = '.' */
.img_styles {
	width: 450px;
	height: 300px;
}
.footer {
	position : sticky footer;
	bottom : 0;
	width : 100%;
	height : 60px;
	background-color : #0DCAF0;
	text-align : center;
	color : white;
}
.wide_img_styles {

	width: 600px;
	height: 300px;
}

/* ID SELECTORS = '#' */
#div_styles {
	display: flex;
	justify-content: center;
}