<h2>Character List</h2>
<table class = "table table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Max HP</th>
			<th>Current HP</th>
			<th>Attacks</th>
			<th>Times Hit</th>
			<th>Damage Taken</th>
			<th>Times Attacked</th>
			<th>Hits</th>
			<th>Damage Done</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor = "let character of characters">
			<td>{{character.id}}</td>
			<td>{{character.name}}</td>
			<td>{{character.maxHp}}</td>
			<td>{{character.currentHp}}</td>
			<td>{{getStats(character.id)}}</td>	
		</tr>
<!-- 		
		<tr *ngFor = "let stat of stats">
			<td>{{stat.currentHp}}</td>	
		</tr> -->
	</tbody>
</table>