<h2>Character List</h2>
<table class = "table table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Max HP</th>
			<th>Current HP</th>
			<th>Hits</th>
			<th>Hit%</th>
			<th>Damage</th>
			<th>Damage Recieved</th>
		
		</tr>
	</thead>
	<tbody>
		<tr *ngFor = "let character of characters">
			<td>{{character.id}}</td>
			<td>{{character.name}}</td>
			<td>{{character.maxHp}}</td>
			<td>{{character.currentHp}}</td>
			<!-- <td>{{getStats(character.id)}}</td>	 -->
			<td>
				<button (click) = "viewCharStats(character?.id)" class=
					"btn btn-primary" id="viewBtn">View Stats
				</button>
			</td>
		</tr>
		<tr>
			<button (click) = "createCharacter()" 
				class = "btn btn-primary">Create Character</button>
		</tr>
<!-- 		
		<tr *ngFor = "let stat of stats">
			<td>{{stat.currentHp}}</td>	
		</tr> -->
	</tbody>
</table>