<!DOCTYPE html>
<html>
	<body>

		<p>This example uses the addEventListener() method to attach a click event to a button.</p>

		<button (click) = "onClickHit()" id="hitBtn">Hit </button>
		<button (click) = "onClickMiss()" id="missBtn">Miss</button>
		<button (click) = "onClickCritHit()" id="critHitBtn">Critical Hit!</button>
		<button (click) = "onClickCritMiss()" id="critMissBtn">Critical Miss!</button>
		<button (click) = "onClickBloodied()" id="bloodiedBtn">Bloodied</button>
		<button (click) = "onClickKill()" id="killBtn">Kill</button>
		<button (click) = "onClickMassiveDmg()" id="massiveDmgBtn">Massive Damage!</button>


		<p id="demo"></p>

		<!-- <script>
			document.getElementById("hitBtn").addEventListener("click", function() {
			document.getElementById("demo").innerHTML = "Whap!";
			});
			// document.getElementById("missBtn").addEventListener("click", function() {
			//   document.getElementById("demo").innerHTML = "Wiff!";
			// });
			// 
			// document.getElementById("critHitBtn").addEventListener("click", function() {
			//   document.getElementById("demo").innerHTML = "Big Whap!";
			// });
			// document.getElementById("critMissBtn").addEventListener("click", function() {
			//   document.getElementById("demo").innerHTML = "Big Wiff!";
			// });
		</script> -->

	</body>
</html>