<!DOCTYPE html>

<html>
<h2>Combat</h2>

<body>
<table class="row">
  <div class="column">
    <thead>Allies</thead>
      <tr *ngFor = "let character of characters">
        <button mat-button [matMenuTriggerFor]="actions">{{character.name}}</button>
        <mat-menu #actions="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="attack">Attack</button>
          <button mat-menu-item [matMenuTriggerFor]="castSpell">Cast Spell</button>
          <button mat-menu-item [matMenuTriggerFor]="other">Other</button>
        </mat-menu>

        <mat-menu #attack="matMenu">
          <!-- <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
          <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
          <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
          <button mat-menu-item>Birds</button>
          <button mat-menu-item>Mammals</button> -->
        </mat-menu>

        <mat-menu #castSpell="matMenu">
          <!-- <button mat-menu-item>Insects</button>
          <button mat-menu-item>Molluscs</button>
          <button mat-menu-item>Crustaceans</button>
          <button mat-menu-item>Corals</button>
          <button mat-menu-item>Arachnids</button>
          <button mat-menu-item>Velvet worms</button>
          <button mat-menu-item>Horseshoe crabs</button> -->
        </mat-menu>

        <mat-menu #other="matMenu">
          <button mat-menu-item>Dash</button>
          <button mat-menu-item>Disengage</button>
          <button mat-menu-item>Dodge</button>
          <button mat-menu-item>Help</button>
          <button mat-menu-item>Hide</button>
          <button mat-menu-item>Ready</button>
          <button mat-menu-item>Ability Check</button>
          <button mat-menu-item>Use Object</button>
        </mat-menu>  
     </tr>
    </div>
    <div class="column">
	   <thead>Enemies</thead>

		
    </div>
  <!-- <div class="form-popup" id="myForm">
  <form (ngSubmit)  = "onSubmit()" action="/action_page.php" class="form-container">
    <h1>Action</h1>

    <label><b>ID</b></label>
	<input type="text" placeholder="Enter ID" class="form-control" id="id"
		[(ngModel)] = "action.id" name="id" required>

    <label><b>Attacker ID</b></label>
    <input type="text" class="form-control" id="attackerId"
				[(ngModel)] = "action.attackerId" name="attackerID" required>

	<label><b>Attacked ID</b></label>
    <input type="text" class="form-control" id="attackedId"
				[(ngModel)] = "action.attackedId" name="attackedID" required>


	<label><b>Damage</b></label>
    <input type="text" class="form-control" id="dmgDone"
				[(ngModel)] = "action.dmgDone" name="dmgDone" required>

    <button type="submit" class="btn btn-success">Do it</button>
  </form>
</div> -->
</table>


<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>

</body>
</html>