<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>PC Form Page</title>
</head>
<body>
	<h1>PC Form Page</h1>
	<nobr>
			<a th:href="@{/}">Back to Main Landing Page</a>
			<br></br>
			<a th:href="@{/api/v1/npcForm}">Go to NPC Form Page</a>
			<br></br>
			<a th:href="@{/api/v1/encounterOccupants}">Go to Encounter Occupants Page</a>
	</nobr>
	<br></br>
	<form action="addPc">
		<label for="id">Id:</label><br>
		<input type="text" id="id" name="id"><br>
		
		<label for="name">Name:</label><br>
		<input type="text" id="name" name="name"><br>
		
		<label for="level">Level:</label><br>
		<input type="text" id="level" name="level"><br>
		
		<label for="perceptionMod">Perception Modifier:</label><br>
		<input type="text" id="perceptionMod" name="perceptionMod"><br>
		
		<label for="insightMod">Insight Modifier:</label><br>
		<input type="text" id="insightMod" name="insightMod"><br>
		
		<label for="ac">AC:</label><br>
		<input type="text" id="ac" name="ac"><br>
		
		<label for="hp">HP:</label><br>
		<input type="text" id="hp" name="hp"><br>
				
		<label for="initiative">Initiative:</label><br>
		<input type="text" id="initiative" name="initiative"><br>	
			
		<input type="submit"><br>
	</form>
</body>
</html>